

.foot {
    display: flex;
    width: 100vw;
    height: 50px;
    background: deepskyblue;
    justify-content: space-around;
    align-items: center
}
.foot a{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.foot a:hover{
    color:red
}
